/* fonts */
  /* .amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }

  .just-another-hand-regular {
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;
  } 
    
  .libre-franklin {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}*/
  
/*  */

body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}

.icons {
    height:32px!important;
    width: auto;
}

.logo {
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.primary-index {
   height: 90vh;
}

.primary-action {
    height: 150vh;
}

.secondary-index {
   height: 40vh; 
}

.secondary-about {
    height: 115vh;
}

.tertiary-index {
    height: 200vh;
}

.bg-primary {
    background-image: url("imgs/sergei-a--heLWtuAN3c-unsplash.jpg");
    background-attachment: fixed;
    background-position: center top;
    opacity: 80%;
    background-size: 100vw;
}

.bg-secondary {
    background-color: #B7BAA0 !important;
    opacity: 80% !important;
    
}

.bg-tertiary {
    background-color: #D2D4C4 !important;
    opacity: 90% !important;
    
}

.bg-light {
    background-image: url("imgs/filip-zrnzevic-QsWG0kjPQRY-unsplash.jpg");
    background-attachment: fixed;
    background-position:10% 65%;
    height: 60vh;
    background-size: 100vw;
}

.footer {
    background-color: #D2D4C4 !important;
    opacity: 90% !important;
    height: 35vh;
}

.btn-primary {
    background-color: transparent;
    border: none;
    color: white;

}

.btn-light {
    background-color: #D2D4C4;
    color: #000000;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-left: 1em;
    padding-right:1em;
    border-radius: 0;
}

.btn-dark {
    background-color: #626055!important;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.btn-secondary {
    background-color: transparent;
    color: #f5f5f5;
    border: none;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
}

.text-primary {
    color: #6C6A5D !important;
    font-weight: 700;
    line-height: 4rem;
}

.text-secondary {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 200;
    line-height: 3rem;
    font-style: normal;
    color:#6C6A5D !important;
}

.text-header {
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.testimonial {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}